:root {
    --text-header-color: violet;
    --text-color: #fff;
    --background-header-color: linear-gradient(90deg, rgba( 28, 28, 28, 1), #000, rgba( 28, 28, 28, 1));
    --background-color: rgba( 28, 28, 28, 1);
    --background-data-color: rgba(245, 245, 245, 0.3);
    --line-border-color: violet;
    --shadow-color: violet;
    --text-shadow-color: #fff;
    --line-size: 2px;
    --box-shadow-size: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* hành động cuộn - hành vi khi cuộn */
    scroll-behavior: smooth;
}

/* dùng chung */
.data {
    border: var(--line-size) solid var(--line-border-color);
    border-radius: 5px;
    height: 100%;
    color: var(--text-color);
    background: var(--background-data-color);
    box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-size) var(--shadow-color);
}

.general-title {
    border-bottom: var(--line-size) solid var(--line-border-color);
    line-height: 1.6;
    text-align: center;
    color: var(--text-header-color);
    background: var(--background-header-color);
    text-shadow: 0 0 10px var(--text-shadow-color);
}
/*  */

#main {
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1),rgba(148, 0, 211, 1), rgba(0, 0, 0, 1)); */
    /* height: 1000px; */
    background: var(--background-color);
    /* width: 100%; */
    
    /* fix row tràn trên mobile bị tràn làm có khoảng trắng */
    /* padding: 0 4px; */
    padding-top: 10px;
}

#header {
    height: 48px;
    background: var(--background-header-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav  li {
    list-style-type: none;
}
.nav li a {
    color: var(--text-header-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 2px;
    line-height: 48px;
    text-shadow: 0 0 10px var(--text-shadow-color);
}

/* nav <= tablet */
.nav__bars-btn {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 30px;
    color: var(--text-header-color);
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 6px;
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    /* thêm hiệu ứng tạo dưới vào */
    animation: fadeIn linear 0.2s;
}

.nav__tab-mob {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: rgba(0, 0, 0,0.9);
    /* nav này ko ẩn đi mà cho nó di chuyển ra khỏi màn hình */
    transform: translateX(100%);
    opacity: 0;
    /* thêm hiệu ứng trượt vào */
    /* có thể viết chung hết ko cần , là all liner 0.3s */
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.nav__tabmob-close {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 30px;
    color: var(--text-header-color);
    padding-top: 6px;
    position: absolute;
    top: 0;
    right: 0;
}

.nav_list {
    margin-top: 48px;
    padding: 0 10px;
}

.nav_list li {
    list-style-type: none;
    height: 48px;
    font-size: 24px;
    line-height: 1.6;
    text-transform: uppercase;
}

.nav_list li a {
    height: 100%;
    text-decoration: none;
    color: var(--text-header-color);
    display: block;
    text-shadow: 0 0 10px var(--text-shadow-color);
}

/* khi được check thì css cho thẻ sau nó */
.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__tab-mob {
    transform: translateX(0) !important;
    opacity: 1;
}

/* HOME */
#home {
    margin-top: 48px;
    border: var(--line-size) solid var(--line-border-color);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px 4px var(--shadow-color);
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: var(--line-size) solid var(--line-border-color);
    height: 100%;
    padding: 48px 0;
    
}

.home-img img {
    width: 190px;
    height: auto;
    border-radius: 8px;
    border: var(--line-size) solid var(--line-border-color);
    box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-size) var(--shadow-color);
}

.home-text .main-title {
    /* margin: 10px; */
    line-height: 1.6;
    /* border-bottom: 1px solid #fff; */
    color: var(--text-header-color);
    text-shadow: 0 0 10px var(--text-shadow-color);
}

.home-text .sub-main-title {
    /* margin: 10px; */
    line-height: 1.6;
    padding: 10px;
}

.sub-main-title li {
    list-style-type: none;
    text-align: justify;
    color: var(--text-color);
}

/* BASIC INFORMATION */
#information {
    padding-top: 48px;
}

.information {
    /* line-height: 1.6; */
    padding: 0 5px;
}

.information li {
    list-style-type: none;
    line-height: 1.6;
    overflow-wrap: break-word;
}

.information li i {
    margin: 5px;
    color: var(--text-header-color);
}

.information li a {
    text-decoration: none;
    color: var(--text-color);
}

#education {
    padding-top: 48px;
    height: 100%;
}

.education {
    padding: 0 5px;
}

.education .card-education {
    line-height: 1.6;
    margin: 5px 0;
}

/* SKILL */
#skill {
    padding-top: 48px;
}

.list-skill {
    padding: 0 5px;
}

.card-skill {
    line-height: 1.6;
    margin: 5px 0;
}

/* WORK EXPERIENCE */
#work-experience {
    padding-top: 48px;
}

.work-experience {
    padding: 0 5px;
}

.card-experience {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    line-height: 1.6;
}

.card-experience .col1-card-experience {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col1-card-experience .col1-experience-top {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--text-header-color);
}

.col1-card-experience .col1-experience-bottom {
    width: 2px;
    height: 50%;
    background: #000;
}

.card-experience .col2-card-experience {
    width: 30%;
}

.card-experience .col2-card-experience .col2-experience-top {
    text-align: center;
}

.card-experience .col2-card-experience .col2-experience-bottom {
    text-align: center;
}

.card-experience .col3-card-experience {
    width: 60%;
}

.card-experience .col3-card-experience .col3-experience-bottom {
    text-align: justify;
}

/* CAH */
#certificate {
    padding-top: 48px;
    height: 100%;
}

.certificates {
    padding: 0 5px;
    
}

.certificates .card-certificates {
    line-height: 1.6;
    margin: 5px 0;
}

.card-certificates p {
    text-align: justify;
}

#hobbie {
    padding-top: 48px;  
    height: 100%;  
}

.hobbies {
    margin: 0 5px;
}

.hobbies li {
    list-style-type: none;
    line-height: 1.6;
}

/* MORE INFORMATION */
#more-information {
    padding-top: 48px;
}

.more-information-text {
    padding: 0 5px;
    line-height: 1.6;
}

.more-information-text ul {
    margin: 0 0 0 20px;
}

/* footer */
footer {
    margin-top: 48px;
    height: 48px;
    background: var(--background-header-color);
    /* border-top: var(--line-size) solid var(--line-border-color); */
    box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-size) var(--shadow-color) ;
}

@media (max-width: 1023px) {
    .nav {
        display: none;
    }
    .nav__bars-btn {
        display: block;
    }

    /* .home-img img {
        border-radius: 8px;
        border: 1px solid var(--line-border-color);
    } */
}

@media (max-width: 739px) {
    #main {
        padding-top: 0;
        /* fix row tràn trên mobile bị tràn làm có khoảng trắng */
        padding: 0 4px;
    }

    #home {
        border: none;
        border-radius: none;
        background: none;
        box-shadow: none;
    }
    .home-img {
        border-right: none;
        /* padding: 48px 0; */
    }
    
    .home-text {
        border-radius: 5px;
        border: var(--line-size) solid var(--line-border-color);
        box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-size) var(--shadow-color);
        /* margin-top: 48px; */
    }
    .home-text .main-title {
        text-align: center;
        background: var(--background-header-color);
        border-bottom: var(--line-size) solid var(--line-border-color);
    }
    .home-text .sub-main-title {
        padding: 5px;
        background: var(--background-data-color);
    }
    .card-experience .col1-card-experience {
        display: none;
    }
    .card-experience .col2-card-experience {
        width: 40%;
        border-right: var(--line-size) solid var(--line-border-color);
    }
    footer {
        margin-left: -4px;
        margin-right: -4px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    
    .home-img {
        border-right: none;
    }
    .home-text .sub-main-title {
        padding: 5px;
    }
}

/* tạo hiệu ứng ẩn hiện cho overlay */
@keyframes fadeIn {
    /* điểm bắt đầu */
    from {
        opacity: 0;
    }
    /* điểm kết thúc */
    to {
        opacity: 1;
    }
}