* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: #fff; */
}

.text-color {
    color: #000;
}

.text-heading-color {
    color: rgba(150, 0, 48, 1);
}

.back-color {
    background: rgba(150, 0, 48, 1);
}

.full-cv {
    height: 100vh;
    /* background: linear-gradient(180deg, rgba(0, 255, 255, 0.6), rgba(0, 0, 0, 0.6));*/
    background: linear-gradient(180deg, rgba( 238, 130, 238, 0.8), rgba(64, 224, 208, 0.8), rgba(238, 130, 238, 0.8));
    /* background: RGBA( 0, 0, 0, 1 ); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tt {
    width: 98%;
    height: 98%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(180deg, rgba(255, 0, 0, 1), rgba(0, 0, 0, 1));   
    border-radius: 10px; */
}

.tt .tt-left {
    width: 49%;
    height: 100%;    
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 255, 255, 0.7), rgba(0, 0, 0, 0.7)); */
    background: linear-gradient(180deg, rgba( 238, 130, 238, 0.8), rgba(64, 224, 208, 0.8), rgba(238, 130, 238, 0.8));
    
    border-radius: 10px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tt-left .left-header {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px solid #000; */
}

.tt-left .left-header .left-header-img {
    width: 30%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.left-header-img img {
    width: 95%;
    margin: auto;
}

.tt-left .left-header .left-header-text {
    width: 70%;
    border-left: 1px solid #fff;
    padding-left: 2px;
}

.left-header-text .main-title {
    border-bottom: 1px solid #fff;
    color: rgba(150, 0, 48, 1);
    line-height: 1.6;
}

.sub-main-title ul li {
    list-style-type: none;
}

.sub-main-title li p {
    line-height: 1.6;
    text-align: justify;
    font-size: 14px;
}

.tt-left .basic-information {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.basic-information .information {
    width: 48%;
    font-size: 14px;
    line-height: 1.6;
}

.basic-information .education {
    width: 48%;
    font-size: 14px;
    line-height: 1.6;
}

.general-title {
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 900;
    /* color: rgba(150, 0, 48, 1); */
}

.information ul li{
    list-style: none;
    overflow-wrap: break-word;
    /* margin: 5px; */
    line-height: 1.6;
}

.information li i {
    margin: 5px;
    color: rgba(150, 0, 48, 1);
}

.information li a {
    text-decoration: none;
}

.card-education {
    line-height: 2;
}

.tt-left .skill {
    width: 98%;
    margin: auto;
    font-size: 14px;
    line-height: 1.6;
}

.skill .card-skill {
    line-height: 1.6;
}

.skill p {
    text-align: justify;
}

.tt .tt-right {
    width: 49%;
    height: 100%;
    background: linear-gradient(180deg, rgba( 238, 130, 238, 0.8), rgba(64, 224, 208, 0.8), rgba(238, 130, 238, 0.8));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tt-right .work-experience {
    width: 98%;   
    line-height: 1.6; 
}

.card-experience {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.card-experience .col1-card-experience {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}

.card-experience .col1-card-experience .col1-experience-top {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 4px;
}

.card-experience .col1-card-experience .col1-experience-bottom {
    width: 2px;
    height: 50%;
    background: #000;
    /* margin: 5px; */
}

.card-experience .col2-card-experience {
    width: 30%;
    line-height: 1.6;
}

.card-experience .col2-card-experience .col2-experience-top {
    /* margin: 10px; */
    text-align: center;
}

.card-experience .col2-card-experience .col2-experience-bottom {
    /* margin: 10px; */
    text-align: center;
}

.card-experience .col3-card-experience {
    width: 60%;
    line-height: 1.6;
}

/* .card-experience .col3-card-experience .col3-experience-top {
    
} */

.card-experience .col3-card-experience .col3-experience-bottom {
    /* margin: 10px;     */
    text-align: justify;
}

.tt-right .cah {
    width: 98%;
    display: flex;
    justify-content: space-around;
}

.cah .certificates {
    width: 48%;
    font-size: 14px;
    line-height: 1.6;
}

/* .certificates .card-certificates-top {
    
} */

.certificates .card-certificates-bottom {
    /* margin: 10px;  */
    text-align: justify;
}

.cah .hobbies {
    width: 48%;
    font-size: 14px;
    line-height: 1.6;
}

.hobbies ul {
    margin-left: 18px;
}

.hobbies ul li {
    text-align: justify;
}

.tt-right .more-information {
    width: 98%;
    line-height: 1.6;
    font-size: 14px;
    text-align: justify;
}

.more-information ul {
    margin-left: 16px;
}